body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-weight: bold;
}

.icons span {
    margin-left: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    background-color: #ddd;
    padding: 10px;
    justify-content: space-around;
}

nav button {
    padding: 10px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}
nav button.active {
    font-weight: bold;
    text-decoration: underline;
}

.banner {
    background: url('img/back.jpg') no-repeat center center/cover;
    padding: 50px;
    text-align: center;
    color: yellow;
    font-size: 30px;
    font-weight: bold;
}

/* .content {
    display: flex;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

.profesor {
    width: 25%;
    text-align: center;
}

.avatar {
    font-size: 50px;
    margin-bottom: 10px;
}

.anuncios {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.anuncio, .aviso, .recuadro {
    height: auto;
    padding: 15px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    border-left: 5px solid #007BFF;
    font-size: 16px;
} */
.texto {
    font-size: 16px;
    color: #696969;
    padding-left: 10px;
}

.banner {
    background: url('img/back.jpg') no-repeat center center/cover;
    padding: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
}

.content {
    display: flex;
    padding: 20px;
    background-color: #eefbff;
    margin: 20px;
    border-radius: 10px;
}

.profesor {
    width: 25%;
    text-align: center;
}

.avatar {
    font-size: 50px;
    margin-bottom: 10px;
    background: url('img/6522516') no-repeat center center/cover;
}

.anuncios {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.anuncio {
    height: 80px;
    background-color: #eee;
    border-radius: 5px;
}
.seccion {
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.lista-tareas, .lista-alumnos {
    list-style: none;
    padding: 0;
}

.lista-tareas li, .lista-alumnos li {
    background: #eefbff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid #D3D3D3;
}
